<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.25);
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    </style>


<body>
    
    <div class="container">
        <h1 class="text-center my-5">Students</h1>
        <form method="post" action="/school/find" class="form-group">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="student1_id">Student1 ID</label>
              <input type="text" name="student1_id" class="form-control rounded-pill">
            </div>
            <div class="col-md-6 mb-3">
              <label for="student2_id">Student2 ID</label>
              <input type="text" name="student2_id" class="form-control rounded-pill">
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary rounded-pill">
        </form>
      
        <div class="card-deck my-5 rounded-pill">
          <% for(var i = 0; i < data.length; i++) {%>
            <div class="card text-white bg-info rounded-pill">
              <div class="card-body">
                <h5 class="card-title text-center">School: <%= JSON.stringify(data[i].company)%></h5>
              </div>
            </div>
          <% } %>
      
      
      
</body>

